/* Base styles */
.app {
  height: 100%;
  overflow-y: auto;
}

/* Animation and layers */
.animation, .animation_layer {
  height: 100vh; /* Use viewport height */
  min-height: 500px; /* Set a minimum height */
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.animation_layer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

/* Specific layers */
#l7, #l8 ,l9 {
  background-repeat: no-repeat;
  background-size: contain;
}

#l7 {
  background-image: url(./assets/images/l7.png);
  background-position: right center;
}

#l8 {
  background-image: url(./assets/images/l8.png);
  background-position: left center;
}

#floor {
  background-image: url(./assets/images/floor.webp);
}

#l4 {
  background-image: url(./assets/images/l4.png);
}

#l9 {
  background-image: url(./assets/images/l9.png);
}

#l6 {
  background-image: url(./assets/images/l6.png);
}

/* Mermaid layer */
.mermaid-layer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0px;
  z-index: 1; /* Increase the z-index to ensure it's above other elements */
  inset-area: bottom !important;
  width: auto !important;
}

.mermaid-gif {
  width: 200px;
  height: auto;
  z-index: 1; /* Ensure the GIF itself also has a higher z-index */
  pointer-events: none;
}

/* Splish splash container */
.splish-splash-container {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  flex-direction: column;
}

.splish-splash-text {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  text-shadow: 
    0 0 10px rgba(0, 255, 255, 0.7),
    0 0 20px rgba(0, 255, 255, 0.5),
    0 0 30px rgba(0, 255, 255, 0.3);
  align-self: flex-start; /* Add this line */
  margin-top: 20px;
}

.invitation-page {
  background-color: #f4e9c5; /* Light background for the invitation */
  padding: 50px 0; /* Padding for top and bottom to avoid overlap */
  height: 100vh; /* Make sure it takes full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rsvp-page{
  overflow-y: auto; /* Allow vertical scrolling */
  height: 100vh; /* Set the height to the viewport height */
  position: relative; /* Ensure proper positioning */
  background-color: #cfd6f5;
  padding: 50px 0; 
  justify-content: center;
}

/* Media Queries */
@media (max-width: 1024px) {
  .mermaid-gif {
    width: 150px;
  }

  .splish-splash-text {
    font-size: 2.2rem;
    align-self: flex-start; /* Add this line */
    margin-top: 20px;
  }

  .invitation-page {
    padding: 30px 0;
  }
}

@media (max-width: 768px) {
  .animation_layer.parallax {
    position: absolute; /* Change from fixed to absolute for mobile */
  }

  #l7, #l8 {
    background-size: contain;
    background-position: center;
  }

  .mermaid-gif {
    width: 120px;
  }

  .splish-splash-text {
    font-size: 2rem;
    align-self: flex-start; /* Add this line */
  margin-top: 20px;
  }

  .invitation-page {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .mermaid-gif {
    width: 100px;
  }

  .splish-splash-text {
    font-size: 1.8rem;
    align-self: flex-start; /* Add this line */
  margin-top: 20px;
  }

  .invitation-page {
    padding: 10px 0;
  }
}